<h2> Products in the market </h2>

<button data-hide-element='chart'>Hide Chart</button>
<div id="highChartContainer" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<table>
  <tbody>
    <tr>
      <th>ID</th>
      <th>Item</th>
      <th>Cost</th>
      <th>Seller</th>
    </tr>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
      	<td><%= product.name %></td>
      	<td>$<%= product.price %></td>
      	<td><%= product.user.name if product.user.present? %></td>
        <!-- !! Open to cross-site scripting !! -->
        <td><%= link_to "-", product_path(product, product: {price: product.price-1}), method: :put %></td>
        <td><%= link_to "+", product_path(product, product: {price: product.price+1}), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  console.log('the number of products is ' + '<%= @products.count %>');
  $(document).ready(function() {
    var isChartVisible = true;
    $('table');

    
    var chart = $('#highChartContainer')
    chart.highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
    },
    title: {
        text: 'Browser market shares at a specific website, 2010'
    },
    series: [{
        type: 'pie',
        name: 'Percentage of Total Cost',
        data: <%= 
          @products.map do |product|
            [product.name, product.price/@sum_price]
          end.to_json.html_safe %>
      }]
    });

    $('[data-hide-element=chart]').on('click', function() {
      var button = $(this);
      $('#highChartContainer').toggle();
      isChartVisible = !isChartVisible;

      if (isChartVisible) {
        button.html("Hide Chart");
      } else {
        button.html("Show Chart");
      }

    });
  });
</script>

   
   
	
 


